* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #333;
  background-color: #f7f7f7;
  font-family: "Dosis", Roboto, "Segoe UI", "Helvetica Neue", sans-serif;
  font-size: 1.7vh;
}

#appdiv {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.optimizer {
  display: flex;
  flex: 1;
  height: 100%;
}

.optimizer > div {
  flex: 1;
}

.svgContainer {
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 3px;
  margin-top: 10px;
  background-image: linear-gradient(45deg, #ececec 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #ececec 75%),
    linear-gradient(45deg, transparent 75%, #ececec 75%), linear-gradient(45deg, #ececec 25%, #fff 25%);
  background-size: 40px 40px;
  background-position: 0 0, 0 0, -20px -20px, 20px 20px;
}

.controlContainer {
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.controlContainer .field {
  padding: 6px;
  margin-bottom: 3px;
  margin-right: 3px;
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 4px;
}
.controlContainer .field:hover {
  background-color: #ddd;
}

.controlContainer .field input {
  flex: 1;
  cursor: pointer;
}

.controlContainer .field input[type="range"] {
  min-width: 20px;
}

.controlContainer .colorField {
  width: calc(20% - 6px);
}

.controlContainer .colorField.sliderField {
  width: calc(30% - 6px);
}

.controlContainer .sliderField {
  width: calc(50% - 6px);
}

.controlContainer .booleanField {
  width: calc(15% - 6px);
}

.controlContainer .sectionTitle {
  color: #555;
  font-size: 15px;
  display: flex;
}

.controlContainer .label {
  color: #777;
  font-size: 13px;
  display: inline-block;
  margin-right: 3px;
}

.controlContainer .section {
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
  margin-left: 2px;
  margin-right: 2px;
  padding-bottom: 5px;
  padding-top: 8px;
  display: flex;
  flex-wrap: wrap;
}

.header {
  height: 8vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100vw;
}

.logo {
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo::after {
  content: "";
  width: 2vw;
  height: 2vw;
  border: 4px solid #555;
  border-radius: 8px;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: center;
}

nav a {
  font-weight: 500;

  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 20px;
  letter-spacing: 3px;
  transition: color 1s, font-weight 1s;
}

nav {
  margin-left: -10vw;
}

nav a:hover,
nav a.selected {
  color: #fc9546;
  transition: color 1s, font-weight 1s;
}

b {
  color: #fc9546;
}

.slide {
  min-height: 100vh;
  max-height: 100vh;
  padding-top: 8vh;
  padding-bottom: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 40px;
}

#desktopMessage {
  display: none;
}

#about {
  font-size: 2.5vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

#about .logo {
  margin-left: 4vw;
  margin-right: 4vw;
  width: auto;
}

#about .logo::after {
  width: 10vh;
  height: 10vh;
  border-width: 10px;
  border-radius: 20px;
}

#about .text {
  letter-spacing: 0.25vw;
  text-align: justify;
}

#about .title {
  color: #fc9546;
}

#about .name {
  font-weight: 500;
  text-transform: uppercase;
}

#app {
  overflow: hidden;
}

.footer {
  height: 3vh;
  width: 100%;
  background: #eee;
  position: fixed;
  bottom: 0;
  color: #aaa;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20vw;
  letter-spacing: 0.3vw;
  text-transform: uppercase;
  user-select: none;
}

.firstScreen {
  display: flex;
}

.option {
  width: 20vw;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.optionIcon {
  width: 10vw;
  height: 10vw;
  cursor: pointer;
  border: 4px solid #333;
  display: block;
  border-radius: 8px;
  margin-left: 5vw;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

.optionDivider {
  width: 0px;
  margin-left: 3vw;
  margin-right: 2vw;
  border: 1px solid #ddd;
  border-radius: 3px;
  height: 30vh;
}

.optionIcon input[type="file"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.loader {
  width: 100vw;
  height: 100vw;
  position: fixed;
  z-index: 5;
  background-color: #fff9;
  left: 0;
  top: 0;
  pointer-events: none;
}

.loader::after,
.loader::before {
  width: 3vw;
  height: 3vw;
  border-radius: 1.5vw;
  background-color: #eee;
  content: "";
  left: 48.5vw;
  top: calc(50vh - 1.5vw);
  position: absolute;
}

.loader::after {
  width: 1vw;
  left: 49vw;
  top: 50vh;
  background-color: #fc9546;
  height: 2vw;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  transform-origin: 100% 0%;
  animation: spinAnimation 32ms ease-in infinite;
}

@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pictureScreen {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 3vw;
  padding-right: 3vw;
}

.picutreSteps {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 1vw;
  align-items: center;
}

button {
  height: 30px;
  font-size: 16px;
  background-color: #fc9546;
  border: 2px solid #eee8;
  color: #fff;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
}

button.selected {
  background-color: #fc9546;
}

.optimizerButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.canvasContainer {
  border: 2px solid #ccc;
  flex: 1;
  display: flex;
  position: relative;
  overflow: auto;
}

.cropHandle {
  position: absolute;
  background-color: #fc9546;
  border: 2px solid #fff8;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.cropHandle.tr {
  transform: translate(-20px, 0px);
}

.cropHandle.bl {
  transform: translate(0px, -20px);
}

.cropHandle.br {
  transform: translate(-20px, -20px);
}

@media only screen and (max-width: 900px) {
  #appdiv {
    display: none;
  }

  #desktopMessage {
    display: block;
    width: 100vw;
    height: 100vh;
    font-size: 25px;
    font-weight: 400;
    padding-top: 45vh;
    text-align: center;
    color: #aaaaaa;
  }
}
